<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toast Translator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
    <div class="container">
        <div class="title">
            <span class="toast">Toast</span>
            <span class="translator">Translator</span>
        </div>

        <div class="description" id="desc-head">
            <p>Questo tool permette di tradurre i cataloghi di stremio.</p>
            <p>Effettua l'accesso al tuo account Stremio per caricare gli addon.</p>
            
            <h3>Come funziona?</h3>
            <p>Connetti il tuo account Stremio. Supportiamo 2 diversi metodi di autenticazione:</p>
            <ol>
                <li>Accesso utilizzando il tuo account Stremio (login Facebook non supportato)</li>
                <li>Accesso utilizzando una chiave di autenticazione</li>
            </ol>
            
            <p>Per utilizzare la chiave di autenticazione:</p>
            <ol>
                <li>Accedi a <a href="https://web.stremio.com/" target="_blank" style="color: #8e44ad;">web.stremio.com</a> usando le tue credenziali Stremio nel browser.</li>
                <li>Apri la console sviluppatore (F12) e incolla questo codice: <code style="background: #444; padding: 2px 5px; border-radius: 3px;">JSON.parse(localStorage.getItem("profile")).auth.key</code></li>
                <li>Copia il valore ottenuto e incollalo nel campo "Direct Auth Key" qui sotto.</li>
                <li>Clicca su 'Connect'</li>
            </ol>
        </div>

        <div class="add-group" hidden="true">
            <input type="text" id="addon-url" placeholder="URL dell'addon da aggiungere">
            <button type="add" onclick="loadAddon(document.getElementById('addon-url').value, true)">+</button>
        </div>

        <div class="login-group">
            <h2>Login</h2>
            <input type="email" id="stremio-email" placeholder="Stremio email">
            <input type="password" id="stremio-password" placeholder="Stremio password">
            <button onclick="stremioLogin()">Login</button>
            
            <div class="or-divider">
                <span>OR</span>
            </div>
            
            <h2>Direct Auth Key</h2>
            <input type="text" id="stremio-authkey" placeholder="Paste your Stremio Auth Key">
            <button onclick="stremioDirectAuth()">Connect</button>
        </div>

        <div id="addons-container"></div>

        <div class="translate-button" hidden="true">
            <button onclick="translateSelected(stremioUser.result.authKey, transteArray)">Applica</button>
            <button onclick="reloadAddons(stremioUser.result.authKey)">Ricarica Addons</button>
        </div>
    </div>

    <script src="/static/stremio.js"></script>
    <script src="/static/addonCard.js"></script>
    <script src="/static/installer.js"></script>
</body>
</html>
